openapi: 3.0.3
info:
  title: An API of Ice and Fire
  description: >-
    An API of Ice and Fire is a free, open REST API providing comprehensive
    Game of Thrones and A Song of Ice and Fire data including books, characters,
    and houses from George R.R. Martin's universe. No authentication is required.
    The API offers structured, quantified data about the HBO series and book
    series covering all named characters, their allegiances, relationships,
    book appearances, TV season appearances, and details on every noble house
    and published book in the series.
  version: 1.0.0
  contact:
    name: Joakim Skoog
    url: https://github.com/joakimskoog
  license:
    name: MIT
    url: https://github.com/joakimskoog/AnApiOfIceAndFire/blob/master/LICENSE.md
  termsOfService: https://anapioficeandfire.com/
externalDocs:
  description: Official API Documentation (GitHub Wiki)
  url: https://github.com/joakimskoog/AnApiOfIceAndFire/wiki
servers:
  - url: https://www.anapioficeandfire.com/api
    description: Production server
tags:
  - name: books
    description: Books from the A Song of Ice and Fire series
  - name: characters
    description: Characters from A Song of Ice and Fire and Game of Thrones
  - name: houses
    description: Noble houses from the A Song of Ice and Fire universe
paths:
  /:
    get:
      summary: API root
      description: Returns the root resource listing all top-level endpoints.
      operationId: getRoot
      tags:
        - books
      responses:
        '200':
          description: Root resource with links to books, characters, and houses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootResource'
              example:
                books: https://www.anapioficeandfire.com/api/books
                characters: https://www.anapioficeandfire.com/api/characters
                houses: https://www.anapioficeandfire.com/api/houses
  /books:
    get:
      summary: List books
      description: >-
        Returns a paginated list of all books in the A Song of Ice and Fire series.
        Results support filtering by name, fromReleaseDate, and toReleaseDate.
      operationId: listBooks
      tags:
        - books
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - name: name
          in: query
          description: Filter books by name (case-sensitive, partial match).
          required: false
          schema:
            type: string
          example: A Game of Thrones
        - name: fromReleaseDate
          in: query
          description: Filter books released on or after this date (ISO 8601).
          required: false
          schema:
            type: string
            format: date-time
          example: '1996-01-01T00:00:00'
        - name: toReleaseDate
          in: query
          description: Filter books released on or before this date (ISO 8601).
          required: false
          schema:
            type: string
            format: date-time
          example: '2020-12-31T00:00:00'
      responses:
        '200':
          description: A paginated list of books.
          headers:
            Link:
              description: >-
                Hypermedia pagination links (first, prev, next, last) using
                RFC 5988 format.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Book'
  /books/{id}:
    get:
      summary: Get a book
      description: Returns a single book resource by its numeric ID.
      operationId: getBook
      tags:
        - books
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: A book resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
        '404':
          description: Book not found.
  /characters:
    get:
      summary: List characters
      description: >-
        Returns a paginated list of all characters. Supports filtering by name,
        gender, culture, born, died, isAlive, and tvSeries attributes.
      operationId: listCharacters
      tags:
        - characters
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - name: name
          in: query
          description: Filter characters by name.
          required: false
          schema:
            type: string
          example: Jon Snow
        - name: gender
          in: query
          description: Filter characters by gender.
          required: false
          schema:
            type: string
            enum:
              - Male
              - Female
        - name: culture
          in: query
          description: Filter characters by culture.
          required: false
          schema:
            type: string
          example: Northmen
        - name: born
          in: query
          description: Filter characters by birth description.
          required: false
          schema:
            type: string
        - name: died
          in: query
          description: Filter characters by death description.
          required: false
          schema:
            type: string
        - name: isAlive
          in: query
          description: Filter characters by alive status.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: A paginated list of characters.
          headers:
            Link:
              description: Hypermedia pagination links (RFC 5988).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Character'
  /characters/{id}:
    get:
      summary: Get a character
      description: Returns a single character resource by its numeric ID.
      operationId: getCharacter
      tags:
        - characters
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: A character resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Character'
        '404':
          description: Character not found.
  /houses:
    get:
      summary: List houses
      description: >-
        Returns a paginated list of all noble houses. Supports filtering by name,
        region, words, hasWords, hasTitles, hasSeats, hasDiedOut, and hasAncestralWeapons.
      operationId: listHouses
      tags:
        - houses
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - name: name
          in: query
          description: Filter houses by name.
          required: false
          schema:
            type: string
          example: House Stark
        - name: region
          in: query
          description: Filter houses by region.
          required: false
          schema:
            type: string
          example: The North
        - name: words
          in: query
          description: Filter houses by their words/motto.
          required: false
          schema:
            type: string
        - name: hasWords
          in: query
          description: Filter to houses that have words.
          required: false
          schema:
            type: boolean
        - name: hasTitles
          in: query
          description: Filter to houses that have titles.
          required: false
          schema:
            type: boolean
        - name: hasSeats
          in: query
          description: Filter to houses that have seats.
          required: false
          schema:
            type: boolean
        - name: hasDiedOut
          in: query
          description: Filter to houses that have died out.
          required: false
          schema:
            type: boolean
        - name: hasAncestralWeapons
          in: query
          description: Filter to houses that have ancestral weapons.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: A paginated list of houses.
          headers:
            Link:
              description: Hypermedia pagination links (RFC 5988).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/House'
  /houses/{id}:
    get:
      summary: Get a house
      description: Returns a single house resource by its numeric ID.
      operationId: getHouse
      tags:
        - houses
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: A house resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/House'
        '404':
          description: House not found.
components:
  parameters:
    id:
      name: id
      in: path
      required: true
      description: Numeric identifier of the resource.
      schema:
        type: integer
        minimum: 1
      example: 1
    page:
      name: page
      in: query
      required: false
      description: Page number for pagination (1-based).
      schema:
        type: integer
        minimum: 1
        default: 1
      example: 1
    pageSize:
      name: pageSize
      in: query
      required: false
      description: Number of results per page (max 50).
      schema:
        type: integer
        minimum: 1
        maximum: 50
        default: 10
      example: 10
  schemas:
    RootResource:
      type: object
      description: Root resource containing links to the top-level collections.
      properties:
        books:
          type: string
          format: uri
          description: URL to the books collection.
        characters:
          type: string
          format: uri
          description: URL to the characters collection.
        houses:
          type: string
          format: uri
          description: URL to the houses collection.
    Book:
      type: object
      description: A book published in the A Song of Ice and Fire series.
      properties:
        url:
          type: string
          format: uri
          description: The canonical URL of this book resource.
        name:
          type: string
          description: The name of the book.
          example: A Game of Thrones
        isbn:
          type: string
          description: ISBN-13 of the book.
          example: 978-0553103540
        authors:
          type: array
          description: List of authors who wrote this book.
          items:
            type: string
          example:
            - George R. R. Martin
        numberOfPages:
          type: integer
          description: Total number of pages in the book.
          example: 694
        publisher:
          type: string
          description: Publisher of the book.
          example: Bantam Books
        country:
          type: string
          description: Country of origin for the original publication.
          example: United States
        mediaType:
          type: string
          description: Media type (e.g. Hardcover, Paperback).
          example: Hardcover
        released:
          type: string
          format: date-time
          description: Release date of the book (ISO 8601).
          example: '1996-08-01T00:00:00'
        characters:
          type: array
          description: URLs of characters who appear in this book.
          items:
            type: string
            format: uri
        povCharacters:
          type: array
          description: URLs of characters with point-of-view chapters in this book.
          items:
            type: string
            format: uri
    Character:
      type: object
      description: A named character from the A Song of Ice and Fire universe.
      properties:
        url:
          type: string
          format: uri
          description: The canonical URL of this character resource.
        name:
          type: string
          description: The character's name. May be empty for unnamed characters.
          example: Jon Snow
        gender:
          type: string
          description: The character's gender.
          example: Male
        culture:
          type: string
          description: The culture the character belongs to.
          example: Northmen
        born:
          type: string
          description: Text description of when and where the character was born.
          example: In 283 AC
        died:
          type: string
          description: Text description of when and where the character died. Empty if alive.
          example: ''
        titles:
          type: array
          description: Titles held by the character.
          items:
            type: string
          example:
            - Lord Commander of the Night's Watch
        aliases:
          type: array
          description: Known aliases for the character.
          items:
            type: string
          example:
            - Lord Snow
        father:
          type: string
          format: uri
          description: URL of the character's father resource. Empty string if unknown.
          example: ''
        mother:
          type: string
          format: uri
          description: URL of the character's mother resource. Empty string if unknown.
          example: ''
        spouse:
          type: string
          format: uri
          description: URL of the character's spouse resource. Empty string if unknown.
          example: ''
        allegiances:
          type: array
          description: URLs of houses the character is sworn to.
          items:
            type: string
            format: uri
        books:
          type: array
          description: URLs of books the character appears in (non-POV).
          items:
            type: string
            format: uri
        povBooks:
          type: array
          description: URLs of books where this character has POV chapters.
          items:
            type: string
            format: uri
        tvSeries:
          type: array
          description: TV seasons the character appears in.
          items:
            type: string
          example:
            - Season 1
            - Season 2
        playedBy:
          type: array
          description: Actors who played this character in the TV series.
          items:
            type: string
          example:
            - Kit Harington
    House:
      type: object
      description: A noble house from the A Song of Ice and Fire universe.
      properties:
        url:
          type: string
          format: uri
          description: The canonical URL of this house resource.
        name:
          type: string
          description: The full name of the house.
          example: House Stark of Winterfell
        region:
          type: string
          description: The geographic region this house is based in.
          example: The North
        coatOfArms:
          type: string
          description: Heraldic description of the house's coat of arms.
          example: A grey direwolf on a white field
        words:
          type: string
          description: The house words (motto). Empty if unknown.
          example: Winter Is Coming
        titles:
          type: array
          description: Titles held by the house.
          items:
            type: string
        seats:
          type: array
          description: Known seats (castles/strongholds) of the house.
          items:
            type: string
        currentLord:
          type: string
          format: uri
          description: URL of the current lord character. Empty string if unknown.
        heir:
          type: string
          format: uri
          description: URL of the current heir character. Empty string if unknown.
        overlord:
          type: string
          format: uri
          description: URL of the overlord house. Empty string if none.
        founded:
          type: string
          description: Text description of when the house was founded.
        founder:
          type: string
          format: uri
          description: URL of the founding character. Empty string if unknown.
        diedOut:
          type: string
          description: Text description of when the house died out. Empty if still active.
        ancestralWeapons:
          type: array
          description: Names of ancestral weapons belonging to this house.
          items:
            type: string
        cadetBranches:
          type: array
          description: URLs of cadet branch houses.
          items:
            type: string
            format: uri
        swornMembers:
          type: array
          description: URLs of characters sworn to this house.
          items:
            type: string
            format: uri
